body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: cornsilk;
    font-size: 50px;
}
.clock-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8rem;
    color: brown;
}

